@charset "utf-8";
.container {
    width: 100%;
    height: 100%;
}

.container > div {
    position: absolute;
}

.bg img {
    width: 900px;
}

.text {
    width: 400px;
    height: 400px;
    background: linear-gradient(to left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.8) 80%, rgba(0, 0, 0, 0) 100%);
    );
    color: white;
}

.text .title,
.text .desc {
    margin-left: 20%;
}

.view {
    width: 500px;
    height: 500px;
    margin: 20px auto;
    border: 1px solid red;
}
