#content {
    font-size: 13px;
}

#content ul {
    margin: 0;
    padding: 0;
}

#content li {
    list-style: none;
    line-height: 32px;
    overflow: hidden;
}

#content li.line {
    height: 1px;
    background: #dcdcdc;
    margin: 8px 0;
}

#content .left {
    float: left;
    width: 305px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #efefef;
}

#content .right {
    float: left;
    display: inline;
    margin-left: 50px;
}

#content input[type=text] {
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 23px;
    padding-left: 3px;
}

#content input.short {
    width: 40px;
}

#content hr {
    height: 1px;
    background: #ccc;
    border: none;
    margin: 5px 0;
}

#content label {
    width: 80px;
    display: inline-block;
}

#content label.color {
    float: left;
}

#content input.long {
    width: 200px;
}

#content input.btn {
    width: 150px;
    height: 35px;
    margin-top: 15px;
    margin-left: 75px;
}

#content i {
    display: inline-block;
    width: 16px;
    height: 16px;
    float: left;
    margin-left: 2px;
    border: 1px solid #fff;
    margin-top: 6px;
    cursor: pointer;
}

#content i:first-child {
    margin-left: 0;
}

#content i.gray {
    background: #252525;
}

#content i.white {
    background: #ffffff;
}

#content i.yellow {
    background: #f4b300;
}

#content i.green {
    background: #78ba00;
}

#content i.blue {
    background: #2673ec;
}

#content i.red {
    background: #ae113d;
}

#content i.litter_coffe {
    background: #632f00;
}

#content i.coffe {
    background: #2e1700;
}

#content i.orange {
    background: #b01e00;
}

#content i.purple {
    background: #7200ac;
}

#content i.yel {
    background: #e1b700;
}

#content i.current {
    background-image: url();
    background-repeat: no-repeat;
    background-position: 3px 3px;
    border: 1px solid gray;
}

.error {
    border: 1px solid red;
}

#mb {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.8;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    display: none;
}

#MyPix {
    position: absolute;
    left: 20%;
    top: 20%;
    z-index: 1001;
    display: none;
}
